    *{
        text-decoration: none;
        list-style: none;
        color: #333;
    }

    html{
        /* font-size: 62.4%; */
    }
    
    body {
      font-family: Arial, sans-serif;
      margin: 0;
    }

    .btn{
      padding: .5rem 1.5rem;
      background-color: orangered;
      color: #fff;
      border-radius: .5rem;
      border: none;
      cursor: pointer;
      
    }
    .btn:hover{
      background-color: rgb(223, 60, 1);

    }   

    .navigation {
        padding: 10px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
        /* margin-bottom: 10px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 2rem;
        z-index: 100;
    }
    
    nav a {
        color: #333;
        text-decoration: none;
        padding: 6px 10px;
      /* margin: 10px; */
      font-weight: 700;
    }
    nav a:hover {
      text-decoration: underline;
    }

    .form-btn {
        background: rgb(10, 160, 110);
        font-weight: 600;
        
    }
    .form-btn:hover{
        box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
    }

    .home {
      /* background-color: #f4f4f4; */
      /* padding: 30px; */
      text-align: center;
      
    }

    .home #heading{
        /* margin-top: -5px; */
        color: #333;
        margin-top: 3rem;
        font-size: 2.5rem;

    }


    #container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        border: #ccc .1px solid;  
        gap: 1rem; 
        flex-wrap: wrap;
    }
    
    #container .wrapper{
        border: 4px solid #eee;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .7);
        border-radius: 10px;
        margin: .5rem;
    }
    
    #result{
      padding: 2rem;
      width: 12rem;
      height: 17rem;
      text-align: center;
      border: 6px solid #ddd;
      border-radius: 4px;
      display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }


   #result .img-container{
        height: 5rem;
        width: 5rem;
        border-radius: 100%;
        background: #555;
        display: flex;
        justify-content: center;
        align-items: center;        
        border: #ccc 3px solid;
        margin-bottom: 10px;

    }
    
    #result img{
         height: 5rem;
        width: 5rem;
        border-radius: 100%;
    }
    
    .vital h3{
        margin-bottom: -5px;
   }




    .output{
      padding: .5rem;
      border:  rgb(223, 60, 1) .01rem solid;
    }
    
  
    /* ===========Form=========== */
    
     .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, .9);
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;

    }
    .form-container form{
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        border-radius: .5rem;
        background: #fff;
        width: 40rem;
        padding: 2rem;
        margin: 2rem;
    }

    .form-container form span{
        display: block;
    }
   
    .form-container form input{
        width: 95%;
        padding: .7rem 1rem;
        border: #ccc .1px solid;  
        border-radius: 5px;
        margin: .7rem 0;
        /* font-size: rem; */
        /* margin-left: -.5rem; */
    }

    .form-container  form .btn{
        width: 95%;
    }


    /* .form-container .active{
        display: none;
    } */

    #close-form{
        font-size: 2rem;
        position: fixed;
        top: 5%;
        right: 5%;
    }
    
    #close-form span{
        cursor: pointer;
        color: #fff;
        
    }
    #close-form span:hover{
        color: rgba(255, 0, 0, 0.733);
        transition: ease-in 1s ;

    }
    



    /* .active{
      font-size: larger;
      color: orangered

    }
    .test{
      font-weight: 700;
      color: goldenrod;
    } */