    *{
        text-decoration: none;
        list-style: none;
        border: none;
        outline: none;
        color: #333;
        transition: all .5s;

    }

    html{
        /* font-size: 62.4%; */
    }
    
    body {
      font-family: Arial, sans-serif;
      margin: 0;
    }

    .btn{
      padding: .5rem 1.5rem;
      background-color: orangered;
      color: #fff;
      border-radius: .5rem;
      border: none;
      cursor: pointer;
      
    }
    .btn:hover{
      background-color: rgb(223, 60, 1);

    }   

    .navigation {
        padding: 10px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
        /* margin-bottom: 10px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 2rem;
        z-index: 100;
    }
    
    nav a {
        color: #333;
        text-decoration: none;
        padding: 6px 10px;
      /* margin: 10px; */
      font-weight: 700;
    }
    nav a:hover {
      text-decoration: underline;
    }

    .form-btn {
        background: rgb(10, 160, 110);
        font-weight: 600; 
    }
    .form-btn:hover{
        box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
    }

    .home {
      text-align: center;
    }

    .home #heading{
        color: #333;
        margin-top: 3rem;
        font-size: 2.5rem;
    }

    /* -----search form---- */
    .search-form{
        border: .1px #ccc solid;
        border-radius: 5px;
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        background-color: #fff;
        width: 20rem;
    }

    .search-form input{
        padding: 0 1rem;
        height: 100%;
        width: 100%;
        font-size: 1rem;
    }
    .search-form:hover{
        border: .1px #888 solid;
    }

    .search-form label{
        color: #ccc;
        cursor: pointer;
        font-size: 1.2rem;
    }
    
    .search-form label:hover{
        color: #888;
        transform: scale(1.1);
    }

    /* -----search form END---- */

    #container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        border: #ccc .1px solid;  
        gap: 1rem; 
        flex-wrap: wrap;
    }
    
    #container .wrapper{
        border: 2px solid #d60e0e;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .7);
        border-radius: 10px;
        margin: .5rem;
    }

    #container .wrapper:hover{
        transform: scale(1.01)
    }
    #result{
      padding: 2rem;
      width: 12rem;
      height: 17rem;
      text-align: center;
      border: 6px solid #ddd;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }


   #result .img-container{
        height: 5rem;
        width: 5rem;
        border-radius: 100%;
        background: #555;
        display: flex;
        justify-content: center;
        align-items: center;        
        border: #ccc 3px solid;
        margin-bottom: 10px;

    }
    #result img{
         height: 5rem;
        width: 5rem;
        border-radius: 100%;
    }
    
    .vital h3{
        margin-bottom: -5px;
   }

    .output{
      padding: .5rem;
      border:  rgb(223, 60, 1) .01rem solid;
    }
    
  
    /* ===========Form=========== */
    
     .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, .9);
        background: rgba(255, 255, 255, .9);
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;

    }
    .form-container form{
        box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
        border-radius: .5rem;
        background: #fff;
        width: 40rem;
        padding: 2rem;
        margin: 2rem;
    }

    .form-container form span{
        display: block;
    }
   
    .form-container form input{
        width: 95%;
        padding: .7rem 1rem;
        border: #ccc .1px solid;  
        border-radius: 5px;
        margin: .7rem 0;
    }

    .form-container  form .btn{
        width: 95%;
    }


    .form-container.active{
        display: none;
    }

    /* ------Close Form---------- */
    .close-form{
        font-size: 2rem;
        position: fixed;
        top: 5%;
        right: 5%;
    }
    
    .close-form span{
        cursor: pointer;
        color: orangered;
        
    }
    .close-form span:hover{
        color: red;
        transition: ease-in .3s ;

    }
    

    /* .active{
      font-size: larger;
      color: orangered

    }
    .test{
      font-weight: 700;
      color: goldenrod;
    } */